{% if ads|length > 0 %}
{% for item in ads %}
<tr>
	<td>{{loop.index}}</td>
	<td>{{item.title}}</td>
	<td>
		{% if item.type=='image' %}
		<a class="btn btn-default btn-mini" data-toggle="modal" data-target="#ad-preview" data-href="{{base_url}}admin/preview?type_id=ad_image&id={{item.id}}">
			View Image
		</a> 
		{% else %}
		<a class="btn btn-default btn-mini" data-toggle="modal" data-target="#ad-preview" data-href="{{base_url}}admin/preview?type_id=ad_video&id={{item.id}}">
			View Video
		</a> 
		{% endif %}
	</td>
	<td>{{item.type}}</td>
	<td>
		<a href="{{base_url}}admin/edit?t=advertisement&id={{item.id}}">
		<img src="{{base_url}}static/adm/img/editicon.gif">
		</a> 
	</td>
	<td>
		<input type="checkbox" name="selected[]" value="{{item.id}}"> 
	</td>
</tr>
{% endfor %}
{% else %}
<tr>
	<td width="100%" colspan="100%">
		<h3 style="text-align:center;">No Records Available.</h3>
	</td>
</tr>
{% endif %}