{% if queue|length > 0 %}
{% for item in queue %}
{% set random = random() %}
<tr data-id="{{item.id}}" data-type="{%if item.type==0%}single{%else%}mixtape{%endif%}">
	<td>
		<p class="checkbox radius td-check">
			<input type="checkbox" id="item_{{random}}" value="1" data-id="{{item.id}}" data-type="{%if item.type==0%}single{%else%}mixtape{%endif%}" />
			<label for="item_{{random}}"></label>
		</p>
	</td>
	<td><a href="{{base_url}}{%if item.type==0%}s{%else%}m{%endif%}{{item.id}}/{{item.uri}}"><img src="{{item.medium}}" class="thumb"></a></td>
	<td><span class="{% if item.type == 0 %}singlebox{%else%}mixtapebox{%endif%}"></span></td>
	<td><a href="{{base_url}}admin/edit_{%if item.type==0%}track{%else%}mixtape{%endif%}?id={{item.id}}" class="pop-edit">edit</a></td>
	<td>{{item.title}}</td>
	<td>
		{% if item.approved == 1 %}
		<a href="#" class="approved a-toggle" data-id="{{item.id}}" data-type="{%if item.type==0%}single{%else%}mixtape{%endif%}">approved</a> 
		{% else %}
		<a href="#" class="gray a-toggle" data-id="{{item.id}}" data-type="{%if item.type==0%}single{%else%}mixtape{%endif%}">pending</a>
		{% endif %}
	</td>
	<td>
		{% if item.featured == 1 %}
		<a href="#" class="featured ft-toggle" data-id="{{item.id}}" data-type="{%if item.type==0%}single{%else%}mixtape{%endif%}">featured</a>
		{%else%}
		<a href="#" class="gray ft-toggle" data-id="{{item.id}}" data-type="{%if item.type==0%}single{%else%}mixtape{%endif%}">not-featured</a>
		{% endif %}
	</td>
	<td>{{item.user}}</td>
	<td>
		{% if item.deleted == 0 %}
		<a class="trash-it" href="#" data-id="{{item.id}}" data-type="{%if item.type==0%}track{%else%}mixtape{%endif%}"><img src="{{base_url}}static/images/trash.png"></a>
		{% else %}
		<a class="delete-it" href="#" data-id="{{item.id}}" data-type="{%if item.type==0%}track{%else%}mixtape{%endif%}"><img src="{{base_url}}static/images/trash.png"></a>
		{% endif %}
	</td>
</tr>
{% endfor %}
{% else %}
<tr>
	<td colspan="9" style="padding: 1.5rem 0;"><em style="font-size: 1.5rem">Nothing to see here. (No Records Available)</em></td>
</tr>
{% endif %}