{% if comments|length > 0 %}
{% for item in comments %}
{% set random = random() %}
<tr data-id="{{item.id}}">
	<td>
		<p class="checkbox radius td-check">
			<input type="checkbox" id="item_{{random}}" value="1" data-id="{{item.id}}" data-type="comment" />
			<label for="item_{{random}}"></label>
		</p>
	</td>
	<td>{{item.comment}}</td>
	<td>{{item.user_name}}</td>
	<td ><a href="#" class="ban-usr" data-id="{{item.user_id}}"><img src="{{base_url}}static/images/ban.png"></a></td>
	<td>
		<a class="trash-it" href="#" data-id="{{item.id}}" data-type="comment"><img src="{{base_url}}static/images/trash.png"></a>
	</td>
</tr>
{% endfor %}
{% else %}
<tr>
	<td colspan="9" style="padding: 1.5rem 0;"><em style="font-size: 1.5rem">Nothing to see here. (No Records Available)</em></td>
</tr>
{% endif %}