{% for item in featured.singles %}
<div class="thumbs">
	<a href="{{base_url}}s{{item.id}}/{{item.uri}}" title="stream {{item.title}}">
	<div class="info">{{item.likes|default('0')}} upvotes &#92; {{item.views|default('0')}} views</div>
	<img src="{{item.medium}}" class="thumbimage" alt="{{item.title}}">
	<div class="title">
		<h3 aria-hidden="true">{{item.artist}} &#8212; {{item.title}}</h3>
	</div>
	</a>
</div>
{% endfor %}