<div class="columns slider">
	<div class="columns header">
	
	</div>

	<div class="columns owl-carousel">
	 
		<div class="item">
		
		</div>
		
		<div class="item">
		
		</div>
		
		<div class="item">
		
		</div>
		
		<div class="item">
		
		</div>
		
		<div class="item">
		
		</div>
		
		<div class="item">
		
		</div>
		
		<div class="item">
		
		</div>
		
		<div class="item">
		
		</div>
		
		<div class="item">
		
		</div>
	 
	</div>
	
	<ul class="large-12 columns slide-nav">

		<li class="columns smoky-black dimmer">
			<a data-href="/home">
				<img src="{{base_url}}static/front/img/slider/home.png" />
				<span>home</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/map">
				<img src="{{base_url}}static/front/img/slider/map.png" />
				<span>map</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/suggest">
				<img src="{{base_url}}static/front/img/slider/suggestion.png" />
				<span>suggestion</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/haiti">
				<img src="{{base_url}}static/front/img/slider/haiti.png" />
				<span>haiti</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/jamaica">
				<img src="{{base_url}}static/front/img/slider/jamaica.png" />
				<span>jamaica</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/puerto-rico">
				<img src="{{base_url}}static/front/img/slider/puerto-rico.png" />
				<span>Puerto Rico</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/trinidad">
				<img src="{{base_url}}static/front/img/slider/trinidad.png" />
				<span>trinidad</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/stats">
				<img src="{{base_url}}static/front/img/slider/stats.png" />
				<span>stats</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/about">
				<img src="{{base_url}}static/front/img/slider/about.png" />
				<span>about</span>
			</a>
		</li>
		
	</ul>
	
</div>


