<!doctype html>
<html lang="en">
<head>
<title>admin</title>
<meta name="charset" content="UTF-8" />
<meta name="csrf" content="{{csrf}}" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css" />
<link rel="stylesheet" href="{{base_url}}static/admin.css" />
</head>
<body>
<div class="ADMIN" align="center">
  <h1>
		<a href="{{base_url}}admin" class="logo">wixtape<i>admin</i></a> &nbsp;&nbsp; 
		<a href="{{base_url}}admin">All</a>
		<a href="{{base_url}}admin?t=approved" class="approved">Approved ({{approved|default('0')}})</a> 
		<a href="{{base_url}}admin?t=pending" class="pending">Pending ({{pending|default('0')}})</a> 
		<a href="{{base_url}}admin?t=trash">Trash</a> &nbsp;&nbsp; 
		<a href="{{base_url}}admin/artists">Artists</a> <a href="{{base_url}}admin/comments">Comments</a> <a href="{{base_url}}admin/users">Users</a> <a href="{{base_url}}admin/banners">Banners</a>
	</h1>
