{% include 'widgets/header.twig' %}
<div class="wrapper">
	<aside class="social-sidebar custom-slidebar">
		<div class="social-sidebar-content">
			<div class="scroll Sidebarheight">
				<div class="user">
					<img src="{{admin.avatar|default(base_url ~ 'static/adm/img/def_usr.jpg')}}" style="height:46px !important;width:50px !Important;">
					<span>{{admin.name}}</span>
					<i class="trigger-user-settings fa fa-user" data-toggle="dropdown" aria-expanded="false"></i>
					<div class="user-settings">
						<h3 class="user-settings-title">Settings shortcuts</h3>
						<div class="user-settings-content">
							<a href="{{base_url}}admin/profile/myprofile">
							<div class="icon"><i class="fa fa-user"></i>
							</div>
							<div class="title">My Profile</div>
							<div class="content">View your profile</div>
							</a>
							<a href="{{base_url}}admin/imailboxs">
								<div class="icon"><i class="fa fa-envelope-o"></i>
								</div>
								<div class="title">View Messages</div>
								<div class="content">
								Click here to go in message board
								</div>
							</a>
							<a href="{{base_url}}admin/dashboard/task">
								<div class="icon"><i class="fa fa-tasks"></i>
								</div>
								<div class="title">View Tasks</div>
								<div class="content">
								Click to get Tasks
								</div>
							</a>
						</div>
						<div class="user-settings-footer">
						<!--<a href="#more-settings">See more settings</a>-->
						</div>
					</div>
				</div> 
				<div class="menu">
					<div class="menu-content" id="sort_items">
						<ul id="social-sidebar-menu" data-calendar="{{sidebar_calendar_count}}">
							{{ include(template_from_string(admin.getMenu()|raw))}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<header>
		<nav role="navigation" class="navbar navbar-fixed-top navbar-super social-navbar top_bar">
			<div class="navbar-header">
				<a href="{{base_url}}admin/" title="Social" class="navbar-brand">
					{% if admin.sidebar == 0 %}
					<img height="80" id="logo" src="{{base_url}}static/adm/img/islandlogo.png" alt="Island Peeps" class="light">
					{% else %}
					<img height="80" id="logo" src="{{base_url}}static/adm/img/island_peeps_beach.png" alt="Island Peeps" class="light small-logo">
					{% endif %}
				</a> 
			</div>
			<div class="navbar-toggle">
				<i class="fa fa-align-justify"></i>
			</div>
			<div>
				<ul class="nav navbar-nav top_panel_first">
					<li class="dropdown navbar-super-fw hidden-xs hidden-sm">
						<a href="#" class="dropdown-toggle top_panel_name">ADMIN PANEL</a>
					</li>
				</ul>
				<ul class="nav navbar-nav top_panel_second">
				<li class="dropdown navbar-super-fw">
					<a href="#" class="dropdown-toggle top_panel_username"> 
						Welcome <strong>{{admin.name}}</strong> !</a>
					</li>
				</ul>
				<ul class=" navbar-nav marquee top_panel_third hidden-xs hidden-sm ">
					<li>
						<a>Launch Day May 27th  2015!!! ***WWW.ISLANDPEEPS.COM***</a>
					</li> 
				</ul>
				<ul class="nav navbar-nav navbar-right top_panel_last">
					<li class="divider-vertical"></li>
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="0" class="dropdown-toggle">
							<i class="fa fa-caret-down fa-lg"></i>
						</a>
						<ul class="dropdown-menu usr-s">
						<li class="visible_moblie">
							<a href="#">
								Welcome <strong>{{admin.name}}</strong> !
							</a>
						</li>
						<li>
							<a href="{{base_url}}admin/user_settings">
								<i class="fa fa-user"></i>&nbsp;User Settings
							</a>
						</li>
						<li>
							<a href="{{base_url}}admin/site_settings">
								<i class="fa fa-gear"></i>&nbsp;Site Settings
							</a>
						</li>
						<li>
							<a href="{{base_url}}admin/social_settings">
								<i class="fa fa-comment"></i>&nbsp;Social Feeds
							</a>
						</li>
						<li>
							<a href="{{base_url}}admin/logout">
								<i class="fa fa-sign-out"></i>&nbsp;Log Out
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{base_url}}admin/help">
								<i class="fa fa-sign-out"></i>&nbsp;Help
							</a>
						</li>
						</ul>
					</li>
				</ul>
				<div class="nav-indicators top_panel_four">
				<ul class="nav navbar-nav navbar-right nav-indicators-body top_panel_four_first">
				<li id="demo-setting" class="dropdown nav-notifications nav-setting">
					<a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="0" class="dropdown-toggle">
						<span class="badge"></span><i class="fa fa-cog"></i>
					</a>
					<ul class="dropdown-menu">
						<li class=" nav-notifications-header header">Sidebar</li>
						<li class="nav-notifications-body">
							<label class="checkbox setting_checkbox"><input type="checkbox" value="" name="sidebar" {%if admin.sidebar == 1 %}checked{%endif%}>Auto Hide</label>
						</li>
						<li class="nav-notifications-body">
							<label class="checkbox setting_checkbox"><input type="checkbox" checked='checked' value="option2" id="sidebar-dividers"/>Dividers</label>
						</li>
						<li class="header">Page per record</li>
						{% for i in [10,25,50,100] %}
						<li class="nav-notifications-body">
							<label class="radio setting_checkbox"><input type="radio" name="pageper" value="{{i}}" class="pageper" {% if admin.perpage == i %}checked{%endif%}/>{{i}}</label>
						</li>
						{% endfor %}
						<li class="divider"></li>
						<li class="header">Theme</li>
						<li class="colorpickers">
							<span class="simplecolorpicker inline" data-selected="{{admin.theme}}">
								<span tabindex="0" role="button" data-color="#f2f2f2" style="cursor:pointer" class="white_theme_button themechange" title="White" id="white">
								&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
								<span tabindex="0" role="button" data-color="#3b5998" style="cursor:pointer" class="blue_theme_button themechange" title="Blue" id="blue">
								&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
								<span tabindex="0" role="button" data-color="#51a351" style="cursor:pointer" class="green_theme_button themechange" title="Green" id="green">
								&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
								<span tabindex="0" role="button" data-color="#f89406" style="cursor:pointer" class="orange_theme_button themechange" title="Orange" id="orange">
								&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
							</span>
						</li>
					</ul>
				</li>
				<li class="dropdown nav-notifications">
					<a href="{{base_url}}admin/dashboard/cloud"   >
						<span class="badge"></span><i class="fa fa-cloud"></i>
					</a>
				</li>
				<li class="dropdown nav-notifications anotifilog profile">
					<a href="{{base_url}}admin/setting/calendar" data-toggle="dropdown" data-hover="dropdown" data-delay="0" class="dropdown-toggle">
						<span class="badge">15</span><i class="fa fa-warning"></i>
					</a>
					<ul class="dropdown-menu">
						<li class="nav-notifications-header">
							<a tabindex="-1" href="{{base_url}}admin/setting/calendar">
								You have <strong>1</strong> new notifications
							</a>
						</li>
						<li class="nav-notification-body  text-info">
							<a href="{{base_url}}admin/peopleprofile/edit/215">
								<i class="fa fa-user"></i>
								Ace Hood profile Ready to Publish
							</a>
						</li>
						<input type="hidden" name="notifiids" id="notifiids" value=""/>
					</ul>
				</li>
				<li class="dropdown nav-notifications nav-task">
					<a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="0" class="dropdown-toggle">
					<span class="badge">1</span><i class="fa fa-tasks"></i>
					</a>
					<ul class="dropdown-menu">
						<li class="nav-notifications-header">
							<a tabindex="-1" href="#">
								You have <strong>1</strong> new messages
							</a>
						</li>
						<li class="nav-notification-body alert-success text-success">
							<a href="{{base_url}}admin/dashboard/givetask">
							<i class="fa fa-user"></i>
							Task (Add Birthdays f...)  <small class="pull-right ">Completed</small>	
							</a>
						</li>
					</ul>
				</li>
				</a>
				</li>
				</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="main">


