{% include 'mobile/widgets/header.twig' %}
<div class="artistPROFILEBox">
	<h1>{{artist.name}}</h1>
	<div class="share">
		<a href="{{artist.facebook|default('#')}}" class="facebook"></a>
		<a href="{{artist.twitter|default('#')}}" class="twitter"></a>
		<a href="{{artist.youtube|default('#')}}" class="youtube"></a>
	</div>
	<div class="thumb"><img src="{{artist.large|default(base_url~'static/images/defultuser.png')}}" /></div>
</div>
<div class="artistPROFILEBoxDesc">
	{{artist.description|default('No description available')}}
</div>
{% set singles = artist.singles %}
<div id="artist-singles-2" class="WIDE paginate-artist-mobile disabled" data-type="artist-singles" data-artist="{{artist.name}}" data-page="1" data-min="6">
	<div class="bigTitleingles">popular singles (<a href="#" class="toggle">view all</a>)</div>
	{% include 'mobile/partials/single_row.twig' %}
	<a class="toggle viewall">view more</a>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>	
</div>
{% set mixtapes = artist.mixtapes %}
<div id="artist-mixtapes-2" class="WIDE paginate-artist-mobile disabled" data-type="artist-mixtapes" data-artist="{{artist.name}}" data-page="1" data-min="6">
	<div class="bigTitleingles">popular mixtapes (<a href="#" class="toggle">view all</a>)</div>
	{% include 'mobile/partials/mixtape_row.twig' %}
	<a class="toggle viewall">view more</a>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>
</div>
{% include 'mobile/widgets/footer.twig' %}