{% include 'mobile/widgets/header.twig' %}
{% include 'mobile/widgets/banner.twig' %}
<div id="artistFRONT" class="paginate-artists {% if artists|length < 6 %}disabled{%endif%}" data-type="artists" data-page="1" data-min="6">
	<div class="bigTitleingles">Hip Hop Artists</div>
	{% for item in artists %}

	<div class="box {% if loop.index1 > 6 %}wowload fadeInRight{%endif%}">

	<div class="thumb"><a href="{{base_url}}artists/{{item.uri}}"><img src="{{item.image_file|default(base_url~'static/images/defultuser.png')}}" height="200" alt="Artist"></a></div>

	<h2><a href="{{base_url}}artists/{{item.uri}}">{{item.name}}</a></h2>

	</div>

	{% endfor %}
</div>
<div class="load-container load8" data-paginater-loading>
	<div class="loader">Loading...</div>
</div>	
<div class="trigger-load"></div>
{% include 'mobile/widgets/footer.twig' %}