{% for item in mixtapes %}

<div class="thumbs">
	<a href="{{base_url}}m{{item.id}}/{{item.uri}}" title="stream {{item.title}}">
		<img src="{{item.medium}}" class="thumbimage" alt="{{item.title}}">
		<div class="titlett">
			<h3 aria-hidden="true">{{item.artist_name}} <br/> {{item.title}}</h3>
		</div>
	</a>
</div>

{% endfor %}