{% include 'widgets/admin_header_index.twig' %}
  <div class="filter">
    <form method="get" id="searchz"  action="{{base_url}}admin">
			<input name="q" type="text" value="{{q}}" />
			<select name="c" class="select-onload" data-selected="{{c|default('rm')}}">
				<option value="rm" selected>all</option>
				<option value="track">singles</option>
				<option value="mixtape" >mixtapes</option>
      </select>
      <select name="t" class="select-onload" data-selected="{{t|default('rm')}}">
				<option value="rm" selected>all</option>
        <option value="approved" >approve</option>
        <option value="pending" >pending</option>
      </select>
      <button type="submit"class="submit">Submit</button>
    </form>
  </div>
  <table border="1" id="TBL" align="center" class="adm-paginate" data-type="{{form_type}}" data-content="queue" data-page="1" data-min="1" data-q="{{q}}" data-c="{{c}}">
		<thead>
			<tr>
				<th width="150" height="60">
					<div class="bulk-widget">
						<p class="checkbox radius">
							<input type="checkbox" name="example" id="toggle_multi" value="1" />
							<label for="toggle_multi"></label>
						</p>
						
						<select name="bulk_action">
							<option value="invalid" selected>select</option>
							<option value="approve">approve</option>
							<option value="pending" >pending</option>
							<option value="trash" >trash</option>
						</select>
					 
						<button type="button" id="submit_bulk">Go</button>
					</div>
				</th>
				<th width="134">thumb</th>
				<th width="150">category</th>
				<th width="150">edit</th>
				<th width="260">title</th>
				<th width="180">stats</th>
				<th width="180">stats</th>
				<th width="150">username</th>
				<th width="150">trash</th>
			</tr>
		</thead>
    <tbody>
		{% include 'partials/admin_tbl1.twig' %}
		</tbody>
	</table>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>
{% include 'widgets/admin_footer.twig' %}