{% include 'widgets/admin_header_banners.twig' %}
<div align="center">
	<h3>Change Site Banners</h3>
	<form method="post" action="{{base_url}}adminAPI/change_banners" data-callback="nil" class="contains-file">
	<table border="1" cellpadding="14" cellspacing="14" id="logSignup">
		<tr>
			<td valign="top"><b>Desktop URL</b></td>
			<td  align="left"><input type="text" name="desktop_url" value="{{banners.desktop_url}}" class="inputBtn" /></td>
		</tr>
		<tr>
			<td valign="top"><b>Desktop Image </b></td>
			<td align="left">
				<input type="file" name="desktop" class="image-e" accept="image/*">
				<img src="{{banners.desktop|default(base_url ~ 'static/images/img_def.png')}}" class="thumb">
			</td>
		</tr>
		<tr>
			<td valign="top"><b>Mobile URL</b></td>
			<td  align="left"><input type="text" name="mobile_url" value="{{banners.mobile_url}}" class="inputBtn" /></td>
		</tr>
		<tr>
			<td valign="top"><b>Mobile Image</b></td>
			<td align="left">
				<input type="file" name="mobile" class="image-e" accept="image/*">
				<img src="{{banners.mobile|default(base_url ~ 'static/images/img_def.png')}}" class="thumb">
			</td>
		</tr>
		<tr>
			<td colspan="2" valign="top"><button type="submit" class="logSignupSubmit">Save</button></td>
		</tr>
	</table>
	</form>
</div>
<script>
function nil(data){
	if(data.error == 0){
		sk.alert('Banners Updated Successfully','success');
	}
}
</script>

{% include 'widgets/admin_footer.twig' %}