{%spaceless%}
{% include 'widgets/nav.twig' %}
<div class="artistPROFILEBox">
	<h1>{{artist.name}}</h1>
	<div class="share">
		<a href="{{artist.facebook|default('#')}}" class="facebook"></a>
		<a href="{{artist.twitter|default('#')}}" class="twitter"></a>
		<a href="{{artist.youtube|default('#')}}" class="youtube"></a>
	</div>
	<div class="thumb"><img src="{{artist.large|default(base_url~'static/images/defultuser.png')}}" /></div>
</div>
<div class="artistPROFILEBoxDesc">{{artist.description|nl2br|default('No description available')|raw}}</div>
<div id="artist-singles" class="paginate-artist {% if singles|length < 6 %}disabled{%endif%}" data-type="artist-singles" data-artist="{{artist.name}}" data-page="1" data-min="6">
	<table border="1"  align="center">
		<thead>
			<tr>
				<th class="Ttitle">title</th>
				<th class="Tthumb">thumb</th>
				<th class="Tfavorite">favorite</th>
				<th class="Trate">rate</th>
				<th class="Tdownload">download</th>
			</tr>
			<tr>
				<th colspan="5" class="Tlower">popular singles <a href="#" class="right toggle">view all</a></th>
			</tr>
		</thead>
		<tbody data-paginater-target>
		{% set singles = artist.singles %}
		{% if singles|length > 0 %}
		{% include 'partials/single_row.twig' %}
		{% else %}
		<tr>
			<td colspan="5"><div class="none">none was found</div></td>
		</tr>
		{% endif %}
		</tbody>
	</table>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>
</div>
<div  id="artist-mixtapes" class="paginate-artist {% if mixtapes|length < 6 %}disabled{%endif%}" data-type="artist-mixtapes" data-artist="{{artist.name}}" data-page="1" data-min="6" disabled>
	<table border="1" align="center">
		<thead>
			<tr>
				<th class="Ttitle">title</th>
				<th class="Tthumb">thumb</th>
				<th class="Tfavorite">favorite</th>
				<th class="Trate">rate</th>
				<th class="Tdownload">download</th>
			</tr>
			<tr>
				<th colspan="5" class="Tlower">popular mixtapes <a href="#" class="right toggle">view all</a></th>
			</tr>
		</thead>
		<tbody data-paginater-target>
		{% set mixtapes = artist.mixtapes %}
		{% if mixtapes|length > 0 %}
		{% include 'partials/mixtape_row.twig' %}
		{% else %}
		<tr>
			<td colspan="5"><div class="none">none was found</div></td>
		</tr>
		{% endif %}
		</tbody>
	</table>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>
</div>
{% include 'widgets/footer.twig' %}
{%endspaceless%}