{% include 'widgets/nav.twig' %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-title">Modify/Listing Profiles</h3>
			<ul class="breadcrumb breadcrumb-arrows breadcrumb-default">
				<li><a href="{{base_url}}admin"><i class="fa fa-home fa-lg"></i></a></li>
				<li><a href="{{base_url}}admin/masterlist">Masterlist</a></li>
				<li><a href="#">{{action}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			 <div class="panel panel-default">  
					<div class="panel-heading">
							<h3 class="panel-title">{{action}}</h3>
					</div>
					<form method="post" class="contains-file form-horizontal" action="{{base_url}}admin/api/profile{%if item is defined %}?id={{item.id}}{%endif%}" data-callback="masterListAddEdit">
						<div class="panel-body">  
							<div class="form-group">
								<label for="title" class="col-md-2 control-label"> Select Region <span class="require">*</span></label>
								<div class="col-md-5">
									<select class="form-control input-md multi-select-onload" name="regions[]" multiple data-selected="{{item.regions}}">
										{% for item2 in regions %}
											<option value="{{item2.id}}">{{item2.name}}</option>
										{% endfor %}
									</select>    
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Name <span class="require">*</span></label>
								<div class="col-md-5">
									<input type="text" name="title" value="{{item.title}}" class="form-control input-md" />
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label"> Category <span class="require">*</span></label>
								<div class="col-md-5">
									<select class="form-control input-md select-onload" name="category_id" data-selected="{{item.category_id}}">
										<option value="invalid">--SELECT--</option>
										{% for item2 in categories %}
										<option value="{{item2.id}}">{{item2.name}}</option>
										{% endfor %}
									</select>    
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Date of Birth</label>
								{% include 'widgets/yearinput.twig' %}
							</div>    	
							<div class="form-group">
								<label for="title" class="col-md-2 control-label"> Image</label>
								<div class="col-md-5">
									<input type="file" name="uploaded_image" class="form-control input-md" />
									<h3 style="text-align: center">OR</h3>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">You Tube </label>
								<div class="col-md-5">
									<input type="text" name="youtube" value="{%if item.youtube is not empty %}https://www.youtube.com/watch?v={{item.youtube}}{%endif%}" class="form-control input-md" />
									</br>
									<span>EX: http://www.youtube.com/watch?v=yFHjS6vuFI0</span>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label"> Profile Details</label>
								<div class="col-md-5">
									<textarea name="description" rows="8" cols="10" class="form-control input-md">{{item.description}}</textarea>   
								</div>
							</div>  
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Short Description </label>
								<div class="col-md-5">
									<input type="text" name="short_desc" value="{{item.short_desc}}" class="form-control input-md" />
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Tags <span class="require">*</span></label>
								<div class="col-md-5">
									<input type="text" name="tags" value="{{item.tags}}" class="form-control input-md"/>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Facebook Profile</label>
								<div class="col-md-5">
									<input type="text" name="fb_profile" value="{{item.fb_profile}}" class="form-control input-md"/>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Facebook Fan Page</label>
								<div class="col-md-5">
									<input type="text" name="fb_fanpage" value="{{item.fb_fanpage}}" class="form-control input-md"/>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Twitter Profile</label>
								<div class="col-md-5">
									<input type="text" name="tw_profile" value="{{item.tw_profile}}" class="form-control input-md"/>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Twitter Description</label>
								<div class="col-md-5">
									<input type="text" name="tw_description" value="{{item.tw_description}}" maxlength="120" class="form-control input-md"/>
									<br/>
									<span style="color:#009100">120 characters limit.</span>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Twitter Fan Page</label>
								<div class="col-md-5">
									<input type="text" name="tw_fanpage" value="{{item.tw_fanpage}}" class="form-control input-md"/>
								</div>
							</div>
							<div class="form-group" id="rejectblock">
								<label for="title" class="col-md-2 control-label">Status<span class="require">*</span></label>        
								<div class="col-md-5">
									<select name="status" id="status"  tabindex="1" class="form-control input-md" data-selected="{{item.status}}">
										<option value="1">AVAILABLE</option>
										<option value="2">PENDING</option>
										<option value="3">READY</option>
										<option value="4">USED</option>
									</select>
								</div>
							</div>								
					</div>  
					<div class="panel-footer">
						<div class="form-group">
							<div class="col-sm-offset-2 col-md-5">
								<button type="submit" class="btn btn-primary btn-block">Save</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>		
{% include 'widgets/footer.twig' %}