{% include 'widgets/nav.twig' %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb breadcrumb-arrows breadcrumb-default">
				<li><a href="{{base_url}}admin"><i class="fa fa-home fa-lg"></i></a></li>
				<li><a href="{{base_url}}admin/ads">Advertisements</a></li>
				<li><a href="#">{{action}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			 <div class="panel panel-default">  
					<div class="panel-heading">
							<h3 class="panel-title">{{action}}</h3>
					</div>
					<form method="post" class="contains-file form-horizontal" action="{{base_url}}admin/api/slide{%if item is defined %}?id={{item.id}}{%endif%}" data-callback="bannerAE">
						<div class="panel-body">
						<div class="form-group">
							<label for="title" class="col-md-2 control-label">Title</label>
							<div class="col-md-5">
								<input type="text" name="title" value="{{item.title}}" class="form-control input-md" readonly />
							</div>
						</div>  
						<div class="form-group">
							<label for="title" class="col-md-2 control-label"> Background Video </label>
							<div class="col-md-5">
								<div class="dropdown">
									<input type="hidden" name="uploaded_video_server" />
									<div class="file-selected-view">
										No File Selected
									</div>
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										 Select File
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li class="file-input">
											<input type="file" name="uploaded_video" accept="video/mp4" />
											<a href="#" class="file-select">From Computer</a>
										</li>
										<li><a href="#" class="file-browser-open" data-type="video" data-target="[name='uploaded_video_server']">From Server</a></li>
									</ul>
								</div>
							</div>
							{% if item is defined %}
							<div class="col-md-3 text-center" id="raggionmapimg">
								<img src="{{base_url}}uploads/{{item.video}}" width="80" style="background:#000;">
							</div>
							{% endif %}
						</div>
						<div class="form-group">
							<label for="title" class="col-md-2 control-label"> Background Image </label>
							<div class="col-md-5">
								<div class="dropdown">
									<input type="hidden" name="uploaded_image_server" />
									<div class="file-selected-view">
										No File Selected
									</div>
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										 Select File
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li class="file-input">
											<input type="file" name="uploaded_image" accept="image/*" />
											<a href="#" class="file-select">From Computer</a>
										</li>
										<li><a href="#" class="file-browser-open" data-type="image" data-target="[name='uploaded_image_server']">From Server</a></li>
									</ul>
								</div>
							</div>
							{% if item is defined %}
							<div class="col-md-3 text-center" id="raggionmapimg">
								<img src="{{base_url}}uploads/{{item.image}}" width="80" style="background:#000;">
							</div>
							{% endif %}
						</div>
						{% if item.id == 1 %}
						<div class="form-group">
							<label for="title" class="col-md-2 control-label">Page Title</label>
							<div class="col-md-5">
								<input type="text" name="landing_title" class="form-control input-md" value="{{settings.landing_title|default('')}}" />
							</div>
						</div> 
						<div class="form-group">
							<label for="title" class="col-md-2 control-label">Page Message</label>
							<div class="col-md-5">
								<textarea name="landing_body" class="form-control input-md">{{settings.landing_body|raw|default('')}}</textarea>
							</div>
						</div>
						{% endif %}
						{% if item.id == 3 %}
						<div class="form-group">
							<label for="title" class="col-md-2 control-label">Suggestion Box Message</label>
							<div class="col-md-5">
								<textarea name="suggestion_message" class="form-control input-md">{{settings.suggestion_message|raw|default('')}}</textarea>
							</div>
						</div> 
						{% endif %}
					</div>  
					<div class="panel-footer">
						<div class="form-group">
							<div class="col-sm-offset-2 col-md-5">
								<button type="submit" class="btn btn-primary btn-block">Save</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>		
<script>
function bannerAE(data)
{
	if(data.error == 0){
		window.location = window.location.origin+'/admin/banners';
	}else{
		sk.alert(data.message,'error');
	}
}
</script>
{% include 'widgets/footer.twig' %}