{% include 'widgets/nav.twig' %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb breadcrumb-arrows breadcrumb-default">
				<li><a href="{{base_url}}admin"><i class="fa fa-home fa-lg"></i></a></li>
				<li><a href="{{base_url}}admin/ads">Advertisements</a></li>
				<li><a href="#">{{action}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			 <div class="panel panel-default">  
					<div class="panel-heading">
							<h3 class="panel-title">{{action}}</h3>
					</div>
					<form method="post" class="contains-file form-horizontal" action="{{base_url}}admin/api/advertisement{%if item is defined %}?id={{item.id}}{%endif%}" data-callback="adAE">
						<div class="panel-body">  
							<div class="form-group">
								<label for="title" class="col-md-2 control-label"> Select Region <span class="require">*</span></label>
								<div class="col-md-5">
									<select class="form-control input-md multi-select-onload" name="regions[]" multiple data-selected="{{item.regions}}">
										{% for item2 in regions %}
											<option value="{{item2.id}}">{{item2.name}}</option>
										{% endfor %}
									</select>    
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label"> Ad Size <span class="require">*</span></label>
								<div class="col-md-5">
									<select class="form-control input-md select-onload" name="size" data-selected="{{item.size}}">
										<option value="ad-lg">Large (100% width, natural height)</option>
										<option value="ad-fw">Full Screen (100% width, 100% height)</option>
									</select>    
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label"> Ad Type <span class="require">*</span></label>
								<div class="col-md-5">
									<select class="form-control input-md select-onload" name="type" data-selected="{{item.type|default('image')}}" onchange="typeshow()">
										<option value="image">Image</option>
										<option value="video">Video</option>
									</select>    
								</div>
							</div>
							<div class="clearfix" data-type-select>
								<div class="form-group" data-type-selector="image">
									<div class="container clearfix" style="padding:0">
										<label for="title" class="col-md-2 control-label">Background Image</label>
										<div class="col-md-5">
											<div class="dropdown">
												<input type="hidden" name="background_image_server" />
												<div class="file-selected-view">
													No File Selected
												</div>
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
													 Select File
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li class="file-input">
														<input type="file" name="background_image" accept="image/*" />
														<a href="#" class="file-select">From Computer</a>
													</li>
													<li><a href="#" class="file-browser-open" data-type="image" data-target="[name='background_image_server']">From Server</a></li>
												</ul>
											</div>
											<br/>
										</div>
										<div class="col-md-2 text-center" id="raggionmapimg">
											<img src="{{base_url}}uploads/{{item.bg_image}}" width="120" style="background:#000;">
										</div>
									</div>
									<div class="container clearfix">
											{% for i in range(1,5) %}
												<div class="form-group" data-type="image">
													<label for="title" class="col-md-1 control-label"> Image {{i}}</label>
													<div class="col-md-1 text-center" id="raggionmapimg">
														<img src="{{base_url}}uploads/{{item.images[i].image}}" width="80" style="background:#000;">
													</div>
													<div class="col-md-3">
														<div class="dropdown">
															<input type="hidden" name="image_{{i}}_server" />
															<div class="file-selected-view">
																No File Selected
															</div>
															<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																 Select File
																<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li class="file-input">
																	<input type="file" name="image_{{i}}" accept="image/*" />
																	<a href="#" class="file-select">From Computer</a>
																</li>
																<li><a href="#" class="file-browser-open" data-type="image" data-target="[name='image_{{i}}_server']">From Server</a></li>
															</ul>
														</div>
													</div>
													<div class="col-md-3">
														<input type="text" name="link_{{i}}" value="{{item.images[i].link}}" class="form-control input-md" placeholder="Link" />
													</div>
													<div class="col-md-3">
														<input type="text" name="title_{{i}}" value="{{item.images[i].title}}" class="form-control input-md" placeholder="Link Title" />
													</div>
												</div>
										{% endfor %}
									</div>
								</div>
								<div class="form-group" data-type-selector="video">
									<label for="title" class="col-md-2 control-label">Select Video</label>
									<div class="col-md-5">
										<div class="dropdown">
											<input type="hidden" name="uploaded_video_server" />
											<div class="file-selected-view">
												No File Selected
											</div>
											<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												 Select File
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li class="file-input">
													<input type="file" name="uploaded_video" accept="video/mp4" />
													<a href="#" class="file-select">From Computer</a>
												</li>
												<li><a href="#" class="file-browser-open" data-type="video" data-target="[name='uploaded_video_server']">From Server</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-2 text-center" id="raggionmapimg">
										<img src="{{base_url}}uploads/{{item.video}}" width="120" style="background:#000;">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Ad Title <span class="require">*</span></label>
								<div class="col-md-5">
									<input type="text" name="title" value="{{item.title}}" class="form-control input-md" />
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Ad Link</label>
								<div class="col-md-5">
									<input type="text" name="link" value="{{item.link}}" class="form-control input-md" />
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Short Description</label>
								<div class="col-md-5">
									<input type="text" name="description" value="{{item.description}}" class="form-control input-md" />
								</div>
							</div>
					</div>  
					<div class="panel-footer">
						<div class="form-group">
							<div class="col-sm-offset-2 col-md-5">
								<button type="submit" class="btn btn-primary btn-block">Save</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>		
<script>
function typeshow()
{
	var x = $('select[name="type"]').val();
	$('[data-type-select] div[data-type-selector]').addClass('hide');
	$('[data-type-selector="'+x+'"]').removeClass('hide');
}

function adAE(data)
{
	if(data.error == 0){
		window.location = window.location.origin+'/admin/ads';
	}else{
		sk.alert(data.message,'error');
	}
}
</script>
{% include 'widgets/footer.twig' %}