{% include 'widgets/nav.twig' %}
<style>
.abday.fc-event {
  color: #246887;
}
.fc-event-time, .fc-event-title {
  padding: 0 1px;
}
.fc-event {
  font-size: 0.85em;
}
.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
  border-bottom-right-radius: 3px;
  border-right-width: 1px;
  border-top-right-radius: 3px;
}
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
  border-bottom-left-radius: 3px;
  border-left-width: 1px;
  border-top-left-radius: 3px;
}
.fc-event {
  background-color: #f19718 !important;
  border-color: #f89406 !important;
}
.inday.fc-event {
  color: #a59505;
}
.evtday.fc-event {
  color: #009100;
}
.panel-calendar .fc-button {
    top: 3px !important;
}
.new_col6 > div:nth-child(2n+1) {  clear: both;}
.dashclass{    cursor: move;}
.remove-lpadding{ padding-left: 0px !important;}

.time-div{
	position: relative;
	top: 6px;
}
.time-icon {
	margin-right: 5px;
}
.time-icon + span{
	position: relative;
	top: -1px;
}
.panel-body {
	cursor: initial !important;
}
#dashboard_sort {
	padding: 0;
}
</style>
<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb breadcrumb-arrows breadcrumb-default">
				<li><a href="{{base_url}}admin"><i class="fa fa-home fa-lg"></i> Dashboard</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<!-- BEGIN ICON BUTTONS SET-->
		<div class="btn-icon col-xs-6 col-sm-6 col-md-2 col-md-offset-2">
			<a class="btn btn-success button_masterlist" role="button" href="{{base_url}}admin/masterlist"><i class="fa fa-list-alt fa-lg"></i>
				<div class="title">Master List</div>
			</a>
		</div>
		<div class="btn-icon col-xs-6 col-sm-6 col-md-2 ">
			<a class="btn btn-neutral button_stats" role="button" href="{{base_url}}admin/stats"><i class="fa fa-bar-chart-o fa-lg"></i>
				<div class="title">Stats</div>
			</a>
		</div>
		<div class="btn-icon col-xs-6 col-sm-6 col-md-2 ">
			<a class="btn btn-success button_calender" role="button" href="{{base_url}}admin/calendar"><i class="fa fa-calendar fa-lg"></i>
				<span class="label label-success label-calender">{{sidebar_calendar_count|default('0')}}</span>
				<div class="title">Calendar</div>
			</a>
		</div>
		<div class="btn-icon col-xs-6 col-sm-6 col-md-2 ">
			<a class="btn btn-warning button_inbox" role="button" href="{{base_url}}admin/imailboxs"><i class="fa fa-inbox fa-lg"></i>
				<div class="title">Inbox</div>
			</a>
		</div>
	</div>
</div>
<div class="container">
	{% if unauthorized==true %}
	<div class="col-md-12 new_col6 grid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="col-md-12" style="padding-top: 2px;">  
					<div class="col-md-12 text-center"> 
						<h4 style="margin-top:6px">Unable to Display Dashboard</h4>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body" style="height: 300px">
				<p>Looks Like the Admin Has disabled you from viewing this page. :/</p>
			</div>
		</div>
	</div>
	{%else%}
	<div class="col-md-12 new_col6 grid" id="dashboard_sort">
		{{ include(template_from_string(admin.getDashboard()|raw))}}
	</div>
	{%endif%}
</div>
   

{% include 'widgets/footer.twig' %}