{% include 'widgets/nav.twig' %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb breadcrumb-arrows breadcrumb-default">
				<li><a href="{{base_url}}admin"><i class="fa fa-home fa-lg"></i></a></li>
				<li><a href="#">Masterlist</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="col-lg-5" style="padding:0">
						<div class="big-button-grp" style="width:20%; display: inline-block;box-sizing: border-box;margin:0">
							<div class="btn-group big-button" style="width:50%">
								<button data-toggle="dropdown" class="btn dropdown-toggle btn-success" style="width: 100%;height: 34px;margin: 0 0 0 0 !important;box-sizing:border-box" >
									<i class="fa fa-plus"></i>
								</button>
								<ul class="dropdown-menu pull-left">
									<li>
										<a href="{{base_url}}admin/create?t=profile">
											<span class="fa fa-pencil"></span> New Profile
										</a>
									</li>
									<li>
										<a href="{{base_url}}admin/create?t=meme">
											<span class="fa fa-pencil"></span> New Meme
										</a>
									</li>
									<li>
										<a href="{{base_url}}admin/create?t=funfact">
											<span class="fa fa-pencil"></span> New Fun Fact
										</a>
									</li>
									<li>
										<a href="{{base_url}}admin/create?t=bulk">
											<span class="fa fa-pencil"></span> Bulk Add
										</a> 
									</li>
									<li>
										<a href="#" id="an-cat-n">
											<span class="fa fa-pencil"></span> New Category
										</a>
									</li>
								</ul>
							</div>
							<div class="btn-group big-button" style="width:50%;float:right">
								<button data-toggle="dropdown" class="btn dropdown-toggle btn-primary" style="width: 100%;height: 34px;margin: 0 0 0 0 !important;box-sizing:border-box" >
									<i class="fa fa-cog"></i>
								</button>
								
								<ul class="dropdown-menu pull-left">
									<li><a href="{{base_url}}admin/api/export_masterlist" target="_blank">Save as PDF</a></li>
								</ul>
							</div>
						</div>
						<select name="sort" class="form-control input-md select-onload" data-selected="{{sort|default('invalid')}}" style="float: right;width:40%; display: inline-block;box-sizing: border-box;margin:0;">
							<option value="invalid">Sort</option>
							<option value="ABC">ABC Order</option>
							<option value="Available">Available</option>
							<option value="Pending">Pending</option>
							<option value="Ready">Ready</option>
							<option value="Used">Used</option>
						</select>				 
						<select name="cat_id" class="form-control input-md select-onload" data-selected="{{cat_id}}" style="float: right;width:40%; display: inline-block;box-sizing: border-box;margin:0;">
							<option value="invalid">Category</option>
							{% for item in categories %}
							<option value="{{item.id}}">{{item.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-lg-7" style="padding:0">
						<div class="btn-group pull-right">
							<a data-toggle="modal" data-target="#masterlist-help" class="btn" style="margin-left: 30px;border-color:#ccc"><i class="fa fa-info-circle"></i> Help</a>
						</div>
						<div class="btn-group pull-right">
							<a href="{{base_url}}admin/masterlist?type_id=1" class="btn btn-success">{{count.profile}} People Profile</a>
							<a href="{{base_url}}admin/masterlist?type_id=2" class="btn btn-danger">{{count.meme}} Meme</a>
							<a href="{{base_url}}admin/masterlist?type_id=3" class="btn btn-info">{{count.funfacts}} Fun Facts</a>
							{% if cat is defined %}
							<a href="{{base_url}}admin/masterlist?type_id=1&cat_id={{cat_id}}" class="btn btn-primary">{{cat_count}} {{cat}}</a>
							{% endif %}
						</div>
					</div>  
					<div class="clearfix"></div>
				</div>
				<div class="panel-body">
					<table id="newtable"  class="table table-striped table-bordered dataTable no-footer dt-responsive" cellspacing="0" width="100%" data-type="{{type_id}}" data-perpage="{{admin.perpage}}">
						<thead>
							<tr>						
								<th width="10%" data-type="numeric" data-sort-initial="true">S.No</th>
								<th width="15%">Profile Title</th>
								<th width="10%">User Kind</th>
								<th width="20%">Region</th>
								<th width="10%">Affiliate</th>
								<th width="5%">Status</th>  
								<th width="10%" data-hide="phone" data-sort-initial="false">Edit</th>
								<th data-hide="phone" width="10%">
									<input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" />Select
								</th>
								<th width="5%">Preview</th>  
							</tr>
						</thead>
						<tbody>
							{% include 'partials/masterlist_row.twig' %}
						</tbody>
					</table>
				</div>
				<div class="clearfix">&nbsp;</div>   
				<div class="panel-footer text-right">
					<button type="button" class="btn btn-success bulk-update" data-callback="msStatus" data-table="masterlist" data-column="status" data-val="1">Available</button>
					<button type="button" class="btn btn-warning bulk-update" data-callback="msStatus" data-table="masterlist" data-column="status" data-val="2">Pending</button>
					<button type="button" class="btn btn-ready bulk-update" data-callback="msStatus" data-table="masterlist" data-column="status" data-val="3">Ready</button>
					<button type="button" class="btn btn-danger bulk-update" data-callback="msStatus" data-table="masterlist" data-column="status" data-val="4">Publish</button>
					{% if admin.can('masterlist','delete') %}
					|
					<button type="button" class="btn btn-danger bulk-delete" data-table="masterlist">Delete</button>
					{% endif %}
				</div>	
			</div>		
		</div>
	</div>
</div>
<div class="modal fade" id="mlist-preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Preview Item</h4>
      </div>
      <div class="modal-body">
        <div class="container">
				
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="masterlist-help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel2">Help</h4>
      </div>
      <div class="modal-body">
        <div class="container">
					{{masterlist_help|raw}}
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
	function msStatus(data,tbl,col,val,ids)
	{
		switch(val){
			case 1:
				var html = '<button class="btn btn-mini btn-success" type="button">Available</button>';
			break;
			case 2:
				var html = '<button class="btn btn-mini btn-warning" type="button">Pending</button>';
			break;
			case 3:
				var html = '<button class="btn btn-mini btn-ready" type="button">Ready</button>';
			break;
			case 4:
				var html = '<button class="btn btn-mini btn-danger" type="button">Published</button>';
			break;
		}
		var tids = ids.split(',');
		for(var i=0;i<tids.length;i++){
			$('table').find('tr[data-id="'+tids[i]+'"]').find('.status > button').replaceWith(html);
		}
		sk.alert('The items were updated successfully','success');
	}
</script>
{% include 'widgets/footer.twig' %}