{%spaceless%}
{% include 'widgets/nav.twig' %}
<div class="TbigTitle">Hip Hop Mixtapes</div>
<div class="paginate {% if mixtapes|length < 12 %}disabled{%endif%}" data-type="mixtapes" data-page="1" data-sort="{{sort}}" data-timespan="{{timespan}}" data-min="12">
	<table border="1" id="TABLE" align="center">
		<thead>
			<tr>
				<th class="Ttitle">title</th>
				<th class="Tthumb">thumb</th>
				<th class="Tfavorite">favorite</th>
				<th class="Trate">rate</th>
				<th class="Tdownload">download</th>
			</tr>
			<tr>
				<th colspan="5" class="Tlower">
				{% if (sort == false) or (sort == 'popular') %}
					<a href="#" class="active">popular</a> 
					<span>&#124;</span>  
					{% if timespan == false %}
					<a href="{{base_url}}mixtapes?sort=latest">latest</a> 
					{% else %}
					<a href="{{base_url}}mixtapes?sort=latest&timespan={{timespan}}">latest</a>
					{% endif %}
				{% else %}
					{% if timespan == false %}
					<a href="{{base_url}}mixtapes?sort=popular">popular</a> 
					{%else%}
					<a href="{{base_url}}mixtapes?sort=popular&timespan={{timespan}}">popular</a>
					{%endif%}
					<span>&#124;</span>  
					<a href="#" class="active">latest</a> 
				{% endif %}
				<div class="right">
					{% if sort != 'latest' %}
					{% if timespan == 'today' %}
					<a href="#" class="active">today</a> 
					{%else%}
					{% if sort == false %}
					<a href="{{base_url}}mixtapes?timespan=today">today</a>
					{%else%}
					<a href="{{base_url}}mixtapes?sort={{sort}}&timespan=today">today</a>
					{%endif%}
					{%endif%}
					<span>&#124;</span> 
					{% if (timespan == false) or (timespan == 'this_week') %}
					<a href="#" class="active">this week</a> 
					{% else %}
					{% if sort == false %}
					<a href="{{base_url}}mixtapes?timespan=this_week">this week</a>
					{%else%}
					<a href="{{base_url}}mixtapes?sort={{sort}}&timespan=this_week">this week</a>
					{%endif%}
					{%endif %}
					<span>&#124;</span> 
					{% if timespan == 'this_month' %}
					<a href="#" class="active">this month</a>
					{%else%}
					{% if sort == false %}
					<a href="{{base_url}}mixtapes?timespan=this_month">this month</a>
					{%else%}
					<a href="{{base_url}}mixtapes?sort={{sort}}&timespan=this_month">this month</a>
					{%endif%}
					{%endif%}
					<span>&#124;</span> 
					{% if timespan == 'all_time' %}
					<a href="#" class="active">all times</a>
					{% else %}
					{% if sort == false %}
					<a href="{{base_url}}mixtapes?timespan=all_time">all times</a>
					{%else%}
					<a href="{{base_url}}mixtapes?sort={{sort}}&timespan=all_time">all times</a>
					{%endif%}
					{%endif%}
					{%endif%}
					</div>   
				</th>
			</tr>
		</thead>
		<tbody data-paginater-target>
		{% if mixtapes|length > 0 %}
		{% include 'partials/mixtape_row.twig' %}
		{% else %}
		<tr>
			<td colspan="5"><div class="none">none was found</div></td>
		</tr>
		{% endif %}
		</tbody>
	</table>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>
</div>
{% include 'widgets/footer.twig' %}
{%endspaceless%}