{% spaceless %}
{% include 'widgets/nav.twig' %}
<div class="userBox">
	<h1>{{user.user_name}}</h1>
	<div class="thumb">
		<img src="{{user.large|default(base_url ~ 'static/images/defultuser.png')}}" alt="{{user.user_name}}'s profile picture">
	</div>
	<div class="navigation">
		<a href="{{base_url}}user/change_avatar">change avatar</a> <span>|</span> <a href="{{base_url}}user/change_password">password</a> 
	</div>
</div>
<div id="uploadform">
	<div class="box">
		<form method="post" action="{{base_url}}api/change_password" data-callback="changePassword" autocomplete="off">
			<input type="password" name="new_password"  placeholder="new password" value="" class="input" autocomplete="off" />
			<input type="password" name="current_password" placeholder="old password" value="" class="input" autocomplete="off" />
			<button type="submit" class="submit">Submit</button>
		</form>
	</div>
</div>
{% include 'widgets/footer.twig' %}
{% endspaceless %}