{% if ad_top != false %}
<div class="{{ad_top.size}} columns">
	<a href="{{ad_top.link}}" title="{{ad_top.title}}">
		<video src="{{base_url}}uploads/{{ad_top.video}}">
		
		</video>
	</a>
</div>
<div class="country columns" data-callback="adRun_video">
{% else %}
<div class="country columns">
{% endif %}
		
		{% if float_item == 'right' %}
		
		<div class="large-4 columns">
			<div class="country-heading columns">
				<h1>{{country.name}}</h1>
			</div>
			<div class="country-sub columns">
				<h2>{{country.title}}</h2>
			</div>
			<div class="country-desc columns">
				<p>{{country.description}}</p>
			</div>
			<div class="small-8 columns paddress-left0">
				<div id="menu-wrap" class="row">
					<div class="menu-item">
						<span id="active" class="icon fa fa-facebook"></span>
						<a style="outline: medium none;" hidefocus="true" id="hover" class="text share_fb"  href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
					</div>
					<div class="menu-item">
						<span id="active" class="icon fa fa-twitter"></span>
						<a style="outline: medium none;" hidefocus="true" id="hover" target="_blank" href="http://twitter.com/share?text={{description}}&url={{url}}&hashtags=<{{profile.tags}}" class="text share_t"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="menu-item">
						<span id="active" class="icon fa fa-pinterest-square"></span>
						<a href="http://www.pinterest.com/pin/create/button/?url={{url}}&media={{profile.image}}&description={{profile.description}}" target="_blank" class="text share_pinte" id="hover"><i class="fa fa-pinterest-square"></i></a>
					</div> 
					<div class="menu-item">
						<span id="active" class="icon fa fa-tumblr"></span>
						<a style="outline: medium none;" hidefocus="true" href="http://www.tumblr.com/share/photo?source={{profile.image}}&caption={{profile.description}}&click_thru={{url}}" id="hover" class="text share_tumblr" target="_blank"><i class="fa fa-tumblr"></i></a>
					</div> 
				</div>
			</div>
			<div class="small-4 columns">
				<div class="disqus-btn">
					<button></button>
				</div>
			</div>
			<div class="large-12 columns disqus-append"></div>
		</div>
		<div class="large-8 columns">
			<div class="large-7 columns" >
				<img src="{{base_url}}uploads/{{country.img}}" class="g-frame"></img>
			</div>
			<div class="large-5 columns end" style="padding-left:4%">
				<div class="large-12 columns">
					<a class="ptv">
						<img alt="" src="{{base_url}}uploads/{{country.flag_img}}" height="210" width="350">
						<span class="ctr_detail">
							Motto: {{country.motto}} <br/>
							Anthem: {{country.anthem}}<br/>                                                    
							National Dish: {{country.national_dish}}
						</span>
					</a>
				</div>
				<div class="large-12 columns">
					<ul class="statGrid clearfix">
						<li class="twist">
							<div class="statItem">
									<div class="statInfo" style="background:#4DCBF4">
										<h3>
											Capital: {{country.capital}}<br>                                                                        
											Language: {{country.language}}<br>                                                                        
											Population: {{country.population}}
										</h3>
										<p>
											{{country.ethnic_data|nl2br}}
										</p> 
										</div>
								<div class="coloredcircle st_ap stat-1">
										<div class="cover-image" style="background-image:url('{{base_url}}uploads/{{country.cover_img}}');{{country.custom_css|raw}}">
										</div> 
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		{% else %}
		<div class="large-8 columns special-right">
			<div class="large-5 columns end" style="padding-right:4%">
				<div class="large-12 columns">
					<a class="ptv">
						<img alt="" src="{{base_url}}uploads/country.flag_img}}" height="210" width="350">
						<span class="ctr_detail">
							Motto: {{country.motto}} <br>
							Anthem: {{country.anthem}}<br>                                                    
							National Dish: {{country.national_dish}}
						</span>
					</a>
				</div>
				<div class="large-12 columns">
					<ul class="statGrid clearfix">
						<li class="twist">
							<div class="statItem">
									<div class="statInfo" style="background:#4DCBF4">
										<h3>
											Capital: {{country.capital}}<br/>                                                                        
											Language: {{country.language}}<br/>                                                                        
											Population: {{country.population}}
										</h3>
										<p>
											{{country.ethnic_data|nl2br}}
										</p> 
										</div>
								<div class="coloredcircle st_ap stat-1">
										<div class="cover-image" style="background-image:url('{{base_url}}uploads/{{country.cover_img}}');{{country.custom_css|raw}}">
										</div> 
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="large-7 columns" >
				<img src="{{base_url}}uploads/{{country.img}}" class="g-frame"></img>
			</div>
		</div>
		<div class="large-4 columns special-right">
			<div class="country-heading columns">
				<h1>{{country.name}}</h1>
			</div>
			<div class="country-sub columns">
				<h2>{{country.title}}</h2>
			</div>
			<div class="country-desc columns">
				<p>{{country.description}}</p>
			</div>
			<div class="small-8 columns paddress-left0">
				<div id="menu-wrap" class="row">
					<div class="menu-item">
						<span id="active" class="icon fa fa-facebook"></span>
						<a style="outline: medium none;" hidefocus="true" id="hover" class="text share_fb"  href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
					</div>
					<div class="menu-item">
						<span id="active" class="icon fa fa-twitter"></span>
						<a style="outline: medium none;" hidefocus="true" id="hover" target="_blank" href="http://twitter.com/share?text={{description}}&url={{url}}&hashtags=<{{profile.tags}}" class="text share_t"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="menu-item">
						<span id="active" class="icon fa fa-pinterest-square"></span>
						<a href="http://www.pinterest.com/pin/create/button/?url={{url}}&media={{base_url}}uploads/{{profile.image}}&description={{profile.description}}" target="_blank" class="text share_pinte" id="hover"><i class="fa fa-pinterest-square"></i></a>
					</div> 
					<div class="menu-item">
						<span id="active" class="icon fa fa-tumblr"></span>
						<a style="outline: medium none;" hidefocus="true" href="http://www.tumblr.com/share/photo?source={{base_url}}uploads/{{profile.image}}&caption={{profile.description}}&click_thru={{url}}" id="hover" class="text share_tumblr" target="_blank"><i class="fa fa-tumblr"></i></a>
					</div> 
				</div>
			</div>
			<div class="small-4 columns">
				<div class="disqus-btn">
					<button></button>
				</div>
			</div>
			<div class="large-12 columns disqus-append"></div>
		</div>
		
		{% endif %}
</div>
<div class="large-12 columns" style="padding:0;">
<div class="row below-fold" data-viewpoint>
	<div class="country-profile columns done">

	</div>
</div>
</div>
<div class="country-wrap columns">
	<ul class="country small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	{% for item in country.profiles %}
	<li>
		<div class="contain">
			{% if item.type_id == 1 %}
			<a data-href="/explore/{{item.regions[0].uri}}/people/{{item.uri}}">
			{% endif %}
			{% if item.type_id == 3 %}
			<a data-href="/explore/{{item.regions[0].uri}}/fun-fact/{{item.uri}}">
			{% endif %}
				<img src="{{base_url}}uploads/{{item.img}}" onerror="iE(this);" />
				<div class="overlay">
					<div class="center">
						<div class="regions clearfix">
							{% for item2 in item.regions %}
							<div>
								<img src="{{base_url}}uploads/{{item2.map_img}}"/>
								<span>{{item2.name}}</span>
							</div>
							{% endfor %}
						</div>
						{% if item.type_id == 3 %}
						<span class="fun-facts">-Fun Facts-</span>
						{% endif %}
						<h3>{{item.title}}</h3>
						<h4>{{item.category}}</h4>
					</div>
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
	</ul>
</div>
{% if ad_bottom != false %}
<div class="{{ad_bottom.size}} img-ad columns" style="background-image: url('{{base_url}}uploads/{{ad_bottom.bg_image}}')">
	<div class="large-10 columns large-offset-1 medium-10 medium-offset-1 small-12">
		<ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-5">
			{% for item in ad_bottom.images %}
			{% if item.image is not empty %}
			<li>
				<a href="{{base_url}}uploads/{{item.image}}" class="show-img" data-title="{{item.title}}" data-lightbox="ad_{{country.name}}" data-link="{{item.link}}">
					<img src="{{base_url}}uploads/{{item.image}}" />
					<div class="zoom">
						<div>
							<i class="fa fa-search"></i>
							<span>Zoom</span>
						</div>
					</div>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}