<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="csrf" content="" />
		<meta name="google-translate-customization" content="65767690a1227b85-d85bad67b2241c3e-g47e8572041164f9e-25">
		<title>Island Peeps</title>
		<link href="{{base_url}}static/front/preload.css" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Pacifico|Aeolus|BlackJack|koala|Learning+Curve+Dashed" rel="stylesheet" type="text/css"/>
		<link href="{{base_url}}static/front/preload.css" rel="stylesheet" type="text/css" />
		<link href="{{base_url}}static/front/grid.css" rel="stylesheet" type="text/css" />
		<link href="{{base_url}}static/front/style.css" rel="stylesheet" type="text/css" />
		<link href="{{base_url}}static/front/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="{{base_url}}static/front/lightbox/css/lightbox.css" rel="stylesheet" type="text/css" />
		<link href="https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css" rel="stylesheet" />
		<link href="{{base_url}}static/shared.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
		<link rel="icon" href="{{base_url}}static/favicon.ico" />
	</head>
	<body class="preload">
		<div class="menu columns">
		
		</div>
		<div class="loader">
			<div class="sk-cube-grid">
			  <div class="sk-cube sk-cube1"></div>
			  <div class="sk-cube sk-cube2"></div>
			  <div class="sk-cube sk-cube3"></div>
			  <div class="sk-cube sk-cube4"></div>
			  <div class="sk-cube sk-cube5"></div>
			  <div class="sk-cube sk-cube6"></div>
			  <div class="sk-cube sk-cube7"></div>
			  <div class="sk-cube sk-cube8"></div>
			  <div class="sk-cube sk-cube9"></div>
			</div>
		</div>
		<div class="clearfix">
			<div class="row" data-slider data-slug="/">
			</div>
		</div>
		<div class="clearfix" data-viewpoint>
			<div class="row below-fold" data-slug="/profiles/recently-added">
			
			</div>
		</div>
		<div class="clearfix">
			<div class="row" data-countries>
			</div>
		</div>
		<div class="clearfix" data-viewpoint>
			<div class="row below-fold" data-slug="/extras/memes" data-memes>
			</div>
		</div>
		<div class="clearfix">
			<div class="row footer">
				<div class="large-4 columns small-12">
					<img src="{{base_url}}static/front/img/slider/logo.png"/>
				</div>
				<div class="large-8 columns small-12">
					<small style="float:right">&copy;2015 Island Peeps. All rights reserved</small>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="{{base_url}}static/front/foundation.min.js"></script>
		<script src="{{base_url}}static/front/router.js"></script>
		<script src="{{base_url}}static/noty.min.js"></script>
		<script src="{{base_url}}static/shared.js"></script>
		<script src="{{base_url}}static/front/owl-carousel/owl.carousel.min.js"></script>
		<script src="{{base_url}}static/front/lightbox/js/lightbox.modified.js"></script>
		<script src="{{base_url}}static/front/wait.min.js"></script>
		<script src="{{base_url}}static/front/mapbox.js"></script>
		<script src="{{base_url}}static/front/cookie.js"></script>
		<script src="{{base_url}}static/front/script.js"></script>
		<script src="{{base_url}}static/front/amcharts/raphael.js"></script>
		<script src="{{base_url}}static/front/amcharts/amcharts.js"></script>
		<div id="google_translate_element"></div>
	</body>
</html>