<div class="memes columns">
	<div class="large-12 columns">
		<div class="blue-heading columns">
			<h1>Memes</h1>
		</div>
	</div>
</div>
<div class="large-12 columns" style="padding:0;">
<div class="row below-fold" data-viewpoint>
	<div class="meme-viewer columns done">

	</div>
</div>
</div>
<div class="memes-wrap columns">
	<ul class="country small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	{% for item in memes %}
	<li>
		<div class="contain">
			<img src="{{item.img}}" onerror="iE(this);"/>
			<div class="overlay">
				<div class="center">
					<div class="regions clearfix">
						{% for item2 in item.regions %}
						{% if item.type_id == 1 %}
						<a data-href="/explore/{{item2.uri}}/people/{{item.uri}}">
						{% endif %}
						{% if item.type_id == 3 %}
						<a data-href="/explore/{{item2.uri}}/fun-fact/{{item.uri}}">
						{% endif %}
							<img src="{{item2.map_img}}"/>
							<span>{{item2.name}}</span>
						</a>
						{% endfor %}
					</div>
					{% if item.type_id == 3 %}
					<span class="fun-facts">-Fun Facts-</span>
					{% endif %}
					<h3>{{item.title}}</h3>
				</div>
			</div>
		</div>
	</li>
	{% endfor %}
	</ul>
</div>