<div class="memes columns">
	<div class="large-12 columns">
		<div class="heading columns">
			<h1>Memes</h1>
		</div>
	</div>
</div>
<div class="large-12 columns" style="padding:0;">
<div class="row below-fold" data-viewpoint>
	<div class="meme-viewer columns done">

	</div>
</div>
</div>
<div class="memes-wrap columns">
	<ul class="country small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	{% for item in memes %}
	<li>
		<div class="contain">
			<a data-href="/extras/memes/{{item.uri}}">
				<img src="{{item.img}}" onerror="iE(this);" />
				<div class="overlay">
					<div class="center">
						<div class="regions clearfix">
							{% for item2 in item.regions %}
							<div>
								<img src="{{item2.map_img}}"/>
								<span>{{item2.name}}</span>
							</div>
							{% endfor %}
						</div>
						<h3>{{item.title}}</h3>
					</div>
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
	</ul>
</div>