<div class="recent-heading columns">
	<h1>Recently Added</h1>
</div>
<div class="recent-wrap columns">
	<ul class="recent small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	{% for item in recent %}
	<li>
		<div class="contain">
			{% if item.type_id == 1 %}
			<a data-href="/explore/{{item.regions[0].uri}}/people/{{item.uri}}">
			{% endif %}
			{% if item.type_id == 3 %}
			<a data-href="/explore/{{item.regions[0].uri}}/fun-fact/{{item.uri}}">
			{% endif %}
				<img src="{{item.img}}" onerror="iE(this);" />
				<div class="overlay">
					<div class="center">
						<div class="regions clearfix">
							{% for item2 in item.regions %}
							<div>
								<img src="{{item2.map_img}}"/>
								<span>{{item2.name}}</span>
							</div>
							{% endfor %}
						</div>
						{% if item.type_id == 3 %}
						<span class="fun-facts">-Fun Facts-</span>
						{% endif %}
						<h3>{{item.title}}</h3>
						<h4>{{item.category}}</h4>
					</div>
				</div>
			</a>
		</div>
	</li>
	{% endfor %}
	</ul>
</div>