{% for item in results %}
<li data-regions="{{item.regions}}">
	<a data-href="{{item.uri}}">
		<img src="{{base_url}}uploads/{{item.img}}" alt="" /> <span>{{item.title}}</span>
	</a>
</li>
{% endfor %}