<div class="large-12 columns">
	<strong class="count">Showing {{data.results|length}} Results</strong>
	<a class="close"><i class="fa fa-times"></i> <span>Close Results</span></a>
</div>
<div class="large-3 columns by-country">
	<strong>View Results By Country</strong>
	<ul>
		{% for item in data.regions %}
		<li>
			<a data-country="{{item.id}}">{{item.name}}</a>
		</li>
		{% endfor %}
	</ul>
</div>
<div class="large-9 columns chart active">
	<div class="chart-wrap">
		<canvas id="graph-results" height="400" width="700"></canvas>
	</div>
</div>
<div class="large-9 columns graph-results">
	<a class="back-to-chart">[close]</a>
	<ul class="results-inner">
		{%set results = data.results %}
		{% include 'frontend/search_result.twig' %}
	</ul>
	<ul class="results-window large-block-grid-3 medium-block-grid-2 small-block-grid-1">
	
	</ul>
</div>
<div style="display:none" id="graph-dataset">
{{data.chart|json_encode()}}
</div>
<div style="display:none" id="graph-labels">
{{data.labels|raw|json_encode()}}
</div>