<div class="columns slider" data-viewpoint>
	<img src="{{base_url}}static/front/img/slider/logo.png" class="logo" data-href="/home" />
	<div class="bar smoky-black">
		<span data-language data-selected="english">Español</span>
	</div>
	<div class="columns owl-carousel">
	 
		<div class="item" data-slug="/home">
			<img src="{{base_url}}static/front/img/slider/slide1.jpg" />
		</div>
		
		<div class="item" data-slug="/map" >
		
		</div>
		
		<div class="item" data-slug="/suggest">
		
		</div>
		
		<div class="item" data-slug="/haiti">
		
		</div>
		
		<div class="item" data-slug="/jamaica">
		
		</div>
		
		<div class="item" data-slug="/puerto-rico">
			
		</div>
		
		<div class="item" data-slug="/trinidad">
		
		</div>
		
		<div class="item" data-slug="/stats">
		
		</div>
		
		<div class="item" data-slug="/about">
		
		</div>
	 
	</div>
	
	<ul class="large-12 columns nav">

		<li class="columns smoky-black dimmer active">
			<a data-href="/home">
				<img src="{{base_url}}static/front/img/slider/home.png" />
				<span>home</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/map">
				<img src="{{base_url}}static/front/img/slider/maps.png" />
				<span>map</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/suggest">
				<img src="{{base_url}}static/front/img/slider/suggestion.png" />
				<span>suggestion</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/haiti">
				<img src="{{base_url}}static/front/img/slider/haiti.png" />
				<span>haiti</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/jamaica">
				<img src="{{base_url}}static/front/img/slider/jamaica.png" />
				<span>jamaica</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/puerto-rico">
				<img src="{{base_url}}static/front/img/slider/puerto_rico.png" />
				<span>Puerto Rico</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/trinidad">
				<img src="{{base_url}}static/front/img/slider/trinidad.png" />
				<span>trinidad</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/stats">
				<img src="{{base_url}}static/front/img/slider/stats.png" />
				<span>stats</span>
			</a>
		</li>
		
		<li class="columns smoky-black dimmer">
			<a data-href="/about">
				<img src="{{base_url}}static/front/img/slider/about.png" />
				<span>about</span>
			</a>
		</li>
		
	</ul>
	
	<div class="nav-btns">
		<div class="prev"></div>
		<div class="next"></div>
	</div>
	
</div>


